.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  align-content: center;
  font-size: 20px;
  height: 100px;
  width: 100%;
  color: red;
}

.App-body h2 {
  align-content: center;
  font-size: 32px;
  height: 50px;
  width: 100%;
  color: yellow;
}

.App-body h3 {
  align-content: center;
  font-size: 16px;
  height: 50px;
  width: 100%;
  color: blue;
}

.App-link {
  color: #2e45c9;
}
